<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f2f2f2] px-10 py-3">
          <div class="flex items-center gap-8">
            <div class="flex items-center gap-4 text-[#141414]">
              <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M36.7273 44C33.9891 44 31.6043 39.8386 30.3636 33.69C29.123 39.8386 26.7382 44 24 44C21.2618 44 18.877 39.8386 17.6364 33.69C16.3957 39.8386 14.0109 44 11.2727 44C7.25611 44 4 35.0457 4 24C4 12.9543 7.25611 4 11.2727 4C14.0109 4 16.3957 8.16144 17.6364 14.31C18.877 8.16144 21.2618 4 24 4C26.7382 4 29.123 8.16144 30.3636 14.31C31.6043 8.16144 33.9891 4 36.7273 4C40.7439 4 44 12.9543 44 24C44 35.0457 40.7439 44 36.7273 44Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <h2 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em]">Roof&RoomMasters</h2>
            </div>
            <div class="flex items-center gap-9">
              <a class="text-[#141414] text-sm font-medium leading-normal" href="#">New Arrivals</a>
              <a class="text-[#141414] text-sm font-medium leading-normal" href="#">Furniture</a>
              <a class="text-[#141414] text-sm font-medium leading-normal" href="#">Appliances</a>
              <a class="text-[#141414] text-sm font-medium leading-normal" href="#">Decor</a>
              <a class="text-[#141414] text-sm font-medium leading-normal" href="#">Sale</a>
            </div>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <label class="flex flex-col min-w-40 !h-10 max-w-64">
              <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                <div
                  class="text-[#757575] flex border-none bg-[#f2f2f2] items-center justify-center pl-4 rounded-l-lg border-r-0"
                  data-icon="MagnifyingGlass"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
                <input
                  placeholder="Search"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#141414] focus:outline-0 focus:ring-0 border-none bg-[#f2f2f2] focus:border-none h-full placeholder:text-[#757575] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                  value=""
                />
              </div>
            </label>
            <div class="flex gap-2">
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#f2f2f2] text-[#141414] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#141414]" data-icon="Heart" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"
                    ></path>
                  </svg>
                </div>
              </button>
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#f2f2f2] text-[#141414] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#141414]" data-icon="ShoppingBag" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,160H40V56H216V200ZM176,88a48,48,0,0,1-96,0,8,8,0,0,1,16,0,32,32,0,0,0,64,0,8,8,0,0,1,16,0Z"
                    ></path>
                  </svg>
                </div>
              </button>
            </div>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDzrnqJQsqDHEKSCcHbBosI_iQBfj89RUDbAXxtTQm45NDr294ryEu4q9Jvlwa2HU7aHpcg7ufyzUfvG7_n7Nyt66Pq1pLRjRuVZ7aUO4eeAK6m7y-LFdp5YzJ_K1YJk0yr4ATLmKIxED9yb6Y4Fh3lXmu3HVaIDCo-GnslQPcwpw0qfaOjIzCujLbKPKKo3NTUxt7tTK9PpeOsldBr9RzRf6jfzjy9mSERtYx_Y6RoS4zbFbTxwBs7kAXO7yfvSuH5i2bhbPFeHSqK");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-lg items-start justify-end px-4 pb-10 @[480px]:px-10"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuAO8hMM40jMsLKyQRYuCRFNNcgk1AkjXF01sZZLBVFMZnV5EItruDQaWBZ3M0bLA0_tbarahUHmrD-2FmJDD8QrJvB4V5riGZ0PDuay_nE_EMAsimalHj6W8Fh6TzfU1QeNVIGTxTn4Yi2rU3inUbzF-HHYRIgqfXUUemvYz425Xc8jx1N4fJfopol-kTy4YL0-8yGxCbOhPELLdcjNHeP7YXb_NR1SjmfGIugmSVIwhA30TvN3oLyvzytMG4kh92OAic_1Nl58Ld9z");'
                >
                  <div class="flex flex-col gap-2 text-left">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Elevate Your Home
                    </h1>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      Discover curated collections of furniture, appliances, and decor to create your dream space.
                    </h2>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#141414] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                    <span class="truncate">Shop Now</span>
                  </button>
                </div>
              </div>
            </div>
            <h2 class="text-[#141414] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Featured Categories</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBkc31uwU8HjGXOP8m23rsJykxQxJXe0XI6pamiVokdJWDBkJsRfn0OHBGCLcqJQ1auYd8N5HN5eQRwAsIB-riu-B3Zyhrg9BQyzva2zyQBSUcYXvpAcwrLceecj12K2qH702OZtJ-hB8Rxx3c3sW52DzlFFkP3lVzf3_1eOsVEkTsX9De-2eTpFumBv5PBzD6b9sDQtYCGeu0oOQx4nIDTCElvlVKlBKI9IGyjfTIYaSGJOI4sW7eU__xskxar1T1nr7R3urcmCpvs");'
                ></div>
                <p class="text-[#141414] text-base font-medium leading-normal">Living Room Furniture</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCweTOujLzfUf0164grIQsHRhG_qWc9DhB75PnW9ZauKUchsBzEpQw2QPavd5pZgWIZ25Azb1tmzl4hYNraBPD4Hm6lTya-5xQQOJAtMX8OqbCBiM-10xirVhvnP55mwSFr0vfIfUe7GRXLGWKkfceot039efZT-BK0XQ93JC4k09Bgv_k2jyQ24vBxpyS48z4fgxqW_G_4hgw-TvdqaugwtOmFxXm5t0y_A_zphX0Ej2XOQiRsW5If_C4iILsOXXg7zPHVHP2-6ufM");'
                ></div>
                <p class="text-[#141414] text-base font-medium leading-normal">Kitchen Appliances</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDY3Cz1Io0Jz6eDDfbNOgy4Who5j41hbN_PMtWHac6qEftdpmcX0yfmsHi04971AZXS_HyOyRUJS6WgYOOA4maQDHyqYZJDrvuk7rRud0HS3HYEl15JSKun2no_hHXgoEqua_2FulPPQEN8HdOsl6BnogNZ4lhrkfoDqcMgDaryAJt0Vy2_mksV7ZGqORrMbJaPrgMleSgI27ZvM07jBAivr0uUno8QZKJplc5K6x1H3AqCLs1puXEmjqmZHgOcycRouTv2Zs2KAWir");'
                ></div>
                <p class="text-[#141414] text-base font-medium leading-normal">Home Decor</p>
              </div>
            </div>
            <h2 class="text-[#141414] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Trending Products</h2>
            <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
              <div class="flex items-stretch p-4 gap-3">
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCjzxLhI1Gv9BmbvkFZPxZCJoOFF_8qA1tlxltjYeSDe5-C6YYtS3l99WVWObNqSkPymjVsyk__BGD81rB25frrcfJIAMUm23iTqltjpxOk7c9zJBf4e6_FPRl3gk7ffUv7ZB6Cw2T5oSDOGFSZV5a1p3xA5yHVL5dle-RslCgYP_YShuvzI-ExtxOGeJrAj2w1xYdguhvciPAGQTeq38CP8MU7lp9OTW44Jmmi7ML7G4dfyjClyNm_TyFqZGoflXGC9nxM26tChIc1");'
                  ></div>
                  <div>
                    <p class="text-[#141414] text-base font-medium leading-normal">Plush Sofa</p>
                    <p class="text-[#757575] text-sm font-normal leading-normal">4.5 stars</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDHgP_B3xeyDhB_sDwkK5Icg27bdZcvgG9-7COGd5Lzmd423yMZ2A94s8tLNN7vNibWIl26Ds0MrMYtT1Loby7uEOTJkM6VvWYV52hTo0Px2Tu7gBlsDa_7N0N6pzv1B4ftHaUiNaDRzkqvsZdlkKZXoJeUjo4-WL4-85blpnXsQn2o-8HfIXyf6r4mVDZkLXmmrDIkWmfHy67LdzDhMtRBhwUxfadviwTe3UnzMflDBdMyvZ3JSoAxhiv3jiHCnqzwgSsY4r2SPjNm");'
                  ></div>
                  <div>
                    <p class="text-[#141414] text-base font-medium leading-normal">Smart Refrigerator</p>
                    <p class="text-[#757575] text-sm font-normal leading-normal">4.7 stars</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDxpNHto0JW-5MslmDxkcgAv1itZmgZmTLxjjYMiF9wNGdq9OaX_SNrcZVwjemUjzIOF57ggv95G11FqTsXe4JnI5CPVJSmtrqdI9P2UMEwAHgPLzYmQoNCpPs58NRdJsMdt4k2cTPPQRYYFQxeaHYJsEIbHvUkFziZ6PmZ1m8IWeothrVYZAu2SYZo-qBA0tvueuErehO68e6-jHjFoLN95L8J7Sl_vCDKK4Ad-dseKJ4NztgGafii2vH9sauMs032NwGgshx_uisS");'
                  ></div>
                  <div>
                    <p class="text-[#141414] text-base font-medium leading-normal">Ambient Table Lamp</p>
                    <p class="text-[#757575] text-sm font-normal leading-normal">4.6 stars</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDSKnKw4Y8g2Z0SGzKeFzs70cImBbb4PWjFV-IagBis_Ss6vF_rsQskQtl9o9pMhSTQrr4WVDcRzawETuz92jxrhmeVxxpy2Omf26QIDnwPZvXV9yLg0hVDEKOSVtyJBKSjcibJJtelyv0RBobtT1RkqtCnMTl1SiML_Ev-Lwx9LP7QuEi5jNfwd5GOWb2Ulxuyj9YrC1lGXDqbgz-Lc_GPan0vJoBe55SCKd5oG3Fvp0JMywCpZyLBlZi9MZ-BZV4i9HpKQRVLl1wB");'
                  ></div>
                  <div>
                    <p class="text-[#141414] text-base font-medium leading-normal">Extendable Dining Table</p>
                    <p class="text-[#757575] text-sm font-normal leading-normal">4.4 stars</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="@container">
              <div class="flex flex-col justify-end gap-6 px-4 py-10 @[480px]:gap-8 @[480px]:px-10 @[480px]:py-20">
                <div class="flex flex-col gap-2 text-center">
                  <h1
                    class="text-[#141414] tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
                  >
                    Exclusive Summer Sale
                  </h1>
                  <p class="text-[#141414] text-base font-normal leading-normal max-w-[720px">Save up to 30% on select items. Limited time offer.</p>
                </div>
                <div class="flex flex-1 justify-center">
                  <div class="flex justify-center">
                    <button
                      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#141414] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow"
                    >
                      <span class="truncate">Shop Sale Now</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <footer class="flex flex-col gap-6 px-5 py-10 text-center @container">
              <div class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around">
                <a class="text-[#757575] text-base font-normal leading-normal min-w-40" href="#">Customer Service</a>
                <a class="text-[#757575] text-base font-normal leading-normal min-w-40" href="#">About Us</a>
                <a class="text-[#757575] text-base font-normal leading-normal min-w-40" href="#">Contact</a>
                <a class="text-[#757575] text-base font-normal leading-normal min-w-40" href="#">Privacy Policy</a>
              </div>
              <div class="flex flex-wrap justify-center gap-4">
                <a href="#">
                  <div class="text-[#757575]" data-icon="TwitterLogo" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M247.39,68.94A8,8,0,0,0,240,64H209.57A48.66,48.66,0,0,0,168.1,40a46.91,46.91,0,0,0-33.75,13.7A47.9,47.9,0,0,0,120,88v6.09C79.74,83.47,46.81,50.72,46.46,50.37a8,8,0,0,0-13.65,4.92c-4.31,47.79,9.57,79.77,22,98.18a110.93,110.93,0,0,0,21.88,24.2c-15.23,17.53-39.21,26.74-39.47,26.84a8,8,0,0,0-3.85,11.93c.75,1.12,3.75,5.05,11.08,8.72C53.51,229.7,65.48,232,80,232c70.67,0,129.72-54.42,135.75-124.44l29.91-29.9A8,8,0,0,0,247.39,68.94Zm-45,29.41a8,8,0,0,0-2.32,5.14C196,166.58,143.28,216,80,216c-10.56,0-18-1.4-23.22-3.08,11.51-6.25,27.56-17,37.88-32.48A8,8,0,0,0,92,169.08c-.47-.27-43.91-26.34-44-96,16,13,45.25,33.17,78.67,38.79A8,8,0,0,0,136,104V88a32,32,0,0,1,9.6-22.92A30.94,30.94,0,0,1,167.9,56c12.66.16,24.49,7.88,29.44,19.21A8,8,0,0,0,204.67,80h16Z"
                      ></path>
                    </svg>
                  </div>
                </a>
                <a href="#">
                  <div class="text-[#757575]" data-icon="InstagramLogo" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160ZM176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24Zm40,152a40,40,0,0,1-40,40H80a40,40,0,0,1-40-40V80A40,40,0,0,1,80,40h96a40,40,0,0,1,40,40ZM192,76a12,12,0,1,1-12-12A12,12,0,0,1,192,76Z"
                      ></path>
                    </svg>
                  </div>
                </a>
                <a href="#">
                  <div class="text-[#757575]" data-icon="FacebookLogo" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm8,191.63V152h24a8,8,0,0,0,0-16H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,0-16H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0,0,16h24v63.63a88,88,0,1,1,16,0Z"
                      ></path>
                    </svg>
                  </div>
                </a>
              </div>
              <p class="text-[#757575] text-base font-normal leading-normal">@2024 Roof&RoomMasters. All rights reserved.</p>
            </footer>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
