<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f2f2f2] px-10 py-3">
          <div class="flex items-center gap-8">
            <div class="flex items-center gap-4 text-[#141414]">
              <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M36.7273 44C33.9891 44 31.6043 39.8386 30.3636 33.69C29.123 39.8386 26.7382 44 24 44C21.2618 44 18.877 39.8386 17.6364 33.69C16.3957 39.8386 14.0109 44 11.2727 44C7.25611 44 4 35.0457 4 24C4 12.9543 7.25611 4 11.2727 4C14.0109 4 16.3957 8.16144 17.6364 14.31C18.877 8.16144 21.2618 4 24 4C26.7382 4 29.123 8.16144 30.3636 14.31C31.6043 8.16144 33.9891 4 36.7273 4C40.7439 4 44 12.9543 44 24C44 35.0457 40.7439 44 36.7273 44Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <h2 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em]">Roof&RoomMasters</h2>
            </div>
            <div class="flex items-center gap-9">
              <a class="text-[#141414] text-sm font-medium leading-normal" href="#">New Arrivals</a>
              <a class="text-[#141414] text-sm font-medium leading-normal" href="#">Furniture</a>
              <a class="text-[#141414] text-sm font-medium leading-normal" href="#">Decor</a>
              <a class="text-[#141414] text-sm font-medium leading-normal" href="#">Appliances</a>
              <a class="text-[#141414] text-sm font-medium leading-normal" href="#">Sale</a>
            </div>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <label class="flex flex-col min-w-40 !h-10 max-w-64">
              <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                <div
                  class="text-[#757575] flex border-none bg-[#f2f2f2] items-center justify-center pl-4 rounded-l-lg border-r-0"
                  data-icon="MagnifyingGlass"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
                <input
                  placeholder="Search"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#141414] focus:outline-0 focus:ring-0 border-none bg-[#f2f2f2] focus:border-none h-full placeholder:text-[#757575] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                  value=""
                />
              </div>
            </label>
            <div class="flex gap-2">
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#f2f2f2] text-[#141414] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#141414]" data-icon="Heart" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"
                    ></path>
                  </svg>
                </div>
              </button>
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#f2f2f2] text-[#141414] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#141414]" data-icon="ShoppingBag" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,160H40V56H216V200ZM176,88a48,48,0,0,1-96,0,8,8,0,0,1,16,0,32,32,0,0,0,64,0,8,8,0,0,1,16,0Z"
                    ></path>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap gap-2 p-4">
              <a class="text-[#757575] text-base font-medium leading-normal" href="#">Shopping Bag</a>
              <span class="text-[#757575] text-base font-medium leading-normal">/</span>
              <span class="text-[#141414] text-base font-medium leading-normal">Checkout</span>
            </div>
            <h2 class="text-[#141414] tracking-light text-[28px] font-bold leading-tight px-4 text-left pb-3 pt-5">Shopping Bag (2 items)</h2>
            <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2 justify-between">
              <div class="flex items-center gap-4">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDSHoCQTNh1W4UTHClcAZOssDutbuiArnH1UrTx8Z1-Sj8t55Ty403LWpy1PDlPvfEWmV52GAIkw4rn1nCxW7Wkq9E5GchNb1vdrUkiUTIyovfGGOibjaCKRvFv3ZfZB4XlTfyHkYRCd2NEvG7YnL-iVF3HV3fB-yYRGRxcFiGsRWFK7Eky87dp6F4_juIxW6JZ4HVTX5Jtn1RyGsSk_7HDczGhVnfWDV1XuYZLFySwlUMsc-WRKy5uTQ-0nSfQZgJGSKLMETHQx41i");'
                ></div>
                <div class="flex flex-col justify-center">
                  <p class="text-[#141414] text-base font-medium leading-normal line-clamp-1">Modern Sofa</p>
                  <p class="text-[#757575] text-sm font-normal leading-normal line-clamp-2">Quantity: 1</p>
                </div>
              </div>
              <div class="shrink-0"><p class="text-[#141414] text-base font-normal leading-normal">$799</p></div>
            </div>
            <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2 justify-between">
              <div class="flex items-center gap-4">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCKK1BXPgB9pakv-KJrZEJER0ecPmxcuDOuHqb2IIAaP9iUxjUXxrsFaFke8PwKYagTYtgu347ewJ9AQmDyLD7Yu0VKzm8P6k3cjjEjwCXPFfxgvMD6BN9edIk2R_IAjggxb5PrDB4T7G49QpbmRm4nEWqKizOAJYD3LNF9WcWyxfQTHNCn9rxw8RYgisMRKIeZrtmq4ZAnrx0vamJrdY56zmtPoGoPbkxmWTb4JsJs8ZN7frvkppOgZXFXZLtCRFOLGXBLSgQ4-47c");'
                ></div>
                <div class="flex flex-col justify-center">
                  <p class="text-[#141414] text-base font-medium leading-normal line-clamp-1">Elegant Coffee Table</p>
                  <p class="text-[#757575] text-sm font-normal leading-normal line-clamp-2">Quantity: 1</p>
                </div>
              </div>
              <div class="shrink-0"><p class="text-[#141414] text-base font-normal leading-normal">$249</p></div>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <input
                  placeholder="Promo Code"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#141414] focus:outline-0 focus:ring-0 border border-[#e0e0e0] bg-white focus:border-[#e0e0e0] h-14 placeholder:text-[#757575] p-[15px] text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div>
            <h2 class="text-[#141414] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Order Summary</h2>
            <div class="p-4">
              <div class="flex justify-between gap-x-6 py-2">
                <p class="text-[#757575] text-sm font-normal leading-normal">Subtotal</p>
                <p class="text-[#141414] text-sm font-normal leading-normal text-right">$1048</p>
              </div>
              <div class="flex justify-between gap-x-6 py-2">
                <p class="text-[#757575] text-sm font-normal leading-normal">Shipping</p>
                <p class="text-[#141414] text-sm font-normal leading-normal text-right">$49</p>
              </div>
              <div class="flex justify-between gap-x-6 py-2">
                <p class="text-[#757575] text-sm font-normal leading-normal">Estimated Tax</p>
                <p class="text-[#141414] text-sm font-normal leading-normal text-right">$52.40</p>
              </div>
            </div>
            <div class="p-4">
              <div class="flex justify-between gap-x-6 py-2">
                <p class="text-[#757575] text-sm font-normal leading-normal">Total</p>
                <p class="text-[#141414] text-sm font-normal leading-normal text-right">$1149.40</p>
              </div>
            </div>
            <div class="flex px-4 py-3 justify-end">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-5 bg-[#141414] text-white text-base font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Proceed to Checkout</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
